/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #f2f3f4;
  background-image: url('natural-paper.png');
  background-position: center;
}

section#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
}

@media screen and (min-width: 400px) {
  section#hero {
    height: 100vh;
  }
}

section {
  height: 90vh;
  max-width: 400px;
  margin: 0 auto;
  max-height: 650px;
  position: relative;
  width: 100%;
  z-index: 0;
}

h2, p {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

h1, h3 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
}

h1 {
  color: #fbec5d;
  font-size: 80px;
  font-weight: 800;
  height: 635px;
  line-height: 1.8;
  margin: 0 auto 0;
  max-width: 400px;
  padding-top: 32px;
  text-align: center;
}

p.hero {
  color: #292727;
  font-size: 48px;
  margin: 0;
  position: absolute;
}

p#one {
  left: 5%;
  top: 30px;
}

p#two {
  left: 50%;
  top: 175px;
}

p#three {
  left: 5%;
  top: 370px;
}

.down-arrow-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0;
}

.down-arrow-container p {
  color: #292727;
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

#heart {
  left: calc(50% + -150px);
  position: absolute;
  top: 145px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  width: 70px;
}

#heart * {
  fill: #eb4c42;
  stroke: #eb4c42;
}

#downArrow {
  color: #292727;
  width: 35px;
}

.deets-container {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.card, .text {
  height: 500px;
  position: absolute;
  width: 100%;
}

.card {
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
          box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

#card-one {
  background-color: #5D60FB;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

#card-two {
  background-color: #F4AD43;
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
}

#card-three {
  background-color: #9DC10B;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

#card-four {
  background-color: #25251f;
  -webkit-transform: rotate(6deg);
      -ms-transform: rotate(6deg);
          transform: rotate(6deg);
}

#card-five {
  background-color: #4166f5;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

#card-six {
  background-color: #EA602A;
  -webkit-transform: rotate(4deg);
      -ms-transform: rotate(4deg);
          transform: rotate(4deg);
}

.text {
  color: #fff;
  padding: 32px;
}

.text p {
  font-weight: 400;
  letter-spacing: 0.3px;
}

#text-two,
#text-four,
#text-six {
  text-align: right;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

#sun {
  position: absolute;
  right: 50px;
  top: 150px;
  width: 60px;
}

#sun * {
  fill: #fff;
  stroke: #fff;
}

#fire {
  position: absolute;
  left: 50px;
  top: 60px;
  width: 60px;
}

#fire * {
  fill: #fff;
  stroke: #fff;
}

#hearts {
  position: absolute;
  right: 50px;
  top: 60px;
  width: 60px;
}

#hearts * {
  fill: #fff;
  stroke: #fff;
}

#diamond {
  position: absolute;
  left: 80px;
  top: 140px;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  width: 60px;
}

#diamond * {
  fill: #fff;
  stroke: #fff;
}

#diamondTwo {
  position: absolute;
  left: 35px;
  top: 155px;
  -webkit-transform: rotate(-14deg);
      -ms-transform: rotate(-14deg);
          transform: rotate(-14deg);
  width: 40px;
}

#diamondTwo * {
  fill: #fff;
  stroke: #fff;
}

#pint {
  position: absolute;
  left: 50px;
  top: 120px;
  width: 60px;
}

#pint * {
  fill: #fff;
  stroke: #fff;
}

.polaroid {
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
          box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  background: #fff;
  border-radius: 2px;
  height: 260px;
  padding: 10px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.polaroid .mask {
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2);
          box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2);
  height: 180px;
  overflow: hidden;
  width: 180px;
}

.polaroid .mask img {
  height: 110%;
  position: relative;
  width: auto;
  z-index: -1;
}

#polaroid-one {
  right: 5px;
  top: 270px;
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
}

#polaroid-two {
  left: 10px;
  top: 300px;
  -webkit-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

#polaroid-three {
  right: 0px;
  top: 300px;
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
}

#polaroid-four {
  left: 0px;
  top: 280px;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

#polaroid-four img {
  height: 100%;
}

#polaroid-five {
  right: -4px;
  top: 300px;
  -webkit-transform: rotate(2.2deg);
      -ms-transform: rotate(2.2deg);
          transform: rotate(2.2deg);
}

#polaroid-six {
  left: 0px;
  top: 280px;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

#rona {
  background: #2d2d2d;
  padding: 64px 16px;
}

#rona p, #rona h3 {
  color: #fff;
  max-width: 320px;
  margin: 0 auto;
}

#rona h3 {
  margin-bottom: 3em;
  text-align: center;
}

#rona p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.4;
  margin-bottom: 1em;
}

#downArrowTwo {
  margin: 0 auto;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  width: 40px;
}

#downArrowTwo * {
  fill: #fff;
  stroke: #fff;
}

#rsvp {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#cta {
  background: #fbec5d;
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
          box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  color: #111;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1em;
  padding: 24px 48px;
}

.arrer {
  position: absolute;
  left: 50%;
  top: 50%;
}

#arrow-one {
  width: 140px;
  -webkit-transform: translate(-160px, -210px) rotate(-20deg);
      -ms-transform: translate(-160px, -210px) rotate(-20deg);
          transform: translate(-160px, -210px) rotate(-20deg);
}

#arrow-one * {
  fill: #5D60FB;
  stroke: #5D60FB;
}

#arrow-two {
  width: 120px;
  -webkit-transform: translate(20px, -180px) rotate(25deg);
      -ms-transform: translate(20px, -180px) rotate(25deg);
          transform: translate(20px, -180px) rotate(25deg);
}

#arrow-two * {
  fill: #F4AD43;
  stroke: #F4AD43;
}

#arrow-three {
  width: 160px;
  -webkit-transform: translate(110px, -90px) rotate(85deg);
      -ms-transform: translate(110px, -90px) rotate(85deg);
          transform: translate(110px, -90px) rotate(85deg);
}

#arrow-three * {
  fill: #9DC10B;
  stroke: #9DC10B;
}

#arrow-four {
  width: 100px;
  -webkit-transform: translate(0px, 70px) rotate(175deg);
      -ms-transform: translate(0px, 70px) rotate(175deg);
          transform: translate(0px, 70px) rotate(175deg);
}

#arrow-four * {
  fill: #4166f5;
  stroke: #4166f5;
}

#arrow-five {
  width: 130px;
  -webkit-transform: translate(-120px, 60px) rotate(195deg);
      -ms-transform: translate(-120px, 60px) rotate(195deg);
          transform: translate(-120px, 60px) rotate(195deg);
}

#arrow-five * {
  fill: #EA602A;
  stroke: #EA602A;
}

#arrow-six {
  width: 110px;
  -webkit-transform: translate(-235px, -80px) rotate(275deg);
      -ms-transform: translate(-235px, -80px) rotate(275deg);
          transform: translate(-235px, -80px) rotate(275deg);
}

#arrow-six * {
  fill: #222;
  stroke: #222;
}
