* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #f2f3f4;
  background-image: url('natural-paper.png');
  background-position: center;
}

section#hero {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

@media screen and (min-width: 400px) {
  section#hero {
    height: 100vh;
  }
}

section {
  height: 90vh;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 0;
}

h2, p {
  font-family: 'Josefin Slab', serif;
}

h1, h3 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
}

h1 {
  color: #fbec5d;
  font-size: 80px;
  font-weight: 800;
  height: 635px;
  line-height: 1.8;
  margin: 0 auto 0;
  max-width: 400px;
  padding-top: 32px;
  text-align: center;
}

p.hero {
  color: #292727;
  font-size: 48px;
  margin: 0;
  position: absolute;
}

p#one {
  left: 5%;
  top: 30px;
}

p#two {
  left: 50%;
  top: 175px;
}

p#three {
  left: 5%;
  top: 370px;
}

.down-arrow-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 16px 0;
}

.down-arrow-container p {
  color: #292727;
  display: block;
  font-size: 24px;
  margin: 0;
}

#heart {
  left: calc(50% + -150px);
  position: absolute;
  top: 145px;
  transform: rotate(-10deg);
  width: 70px;
}

#heart * {
  fill: #eb4c42;
  stroke: #eb4c42;
}

#downArrow {
  color: #292727;
  width: 35px;
}

.deets-container {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.card, .text {
  height: 500px;
  position: absolute;
  width: 100%;
}

.card {
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

#card-one {
  background-color: #5D60FB;
  transform: rotate(-5deg);
}

#card-two {
  background-color: #F4AD43;
  transform: rotate(2deg);
}

#card-three {
  background-color: #9DC10B;
  transform: rotate(-3deg);
}

.text {
  color: #fff;
  padding: 32px;
}

#text-two {
  text-align: right;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

#sun {
  position: absolute;
  right: 50px;
  top: 150px;
  width: 60px;
}

#sun * {
  fill: #fff;
  stroke: #fff;
}

#fire {
  position: absolute;
  left: 50px;
  top: 60px;
  width: 60px;
}

#fire * {
  fill: #fff;
  stroke: #fff;
}

.polaroid {
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  background: #fff;
  border-radius: 2px;
  height: 260px;
  padding: 10px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.polaroid .mask {
  border-radius: 2px;
  box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2);
  height: 180px;
  overflow: hidden;
  width: 180px;
}

.polaroid .mask img {
  height: 110%;
  position: relative;
  width: auto;
  z-index: -1;
}

#polaroid-one {
  right: 5px;
  top: 270px;
  transform: rotate(3deg);
}

#polaroid-two {
  left: 10px;
  top: 300px;
  transform: rotate(-1deg);
}

#polaroid-three {
  right: 0px;
  top: 300px;
  transform: rotate(2deg);
}

#polaroid-four {
  left: 0px;
  top: 280px;
  transform: rotate(-3deg);
}

#polaroid-four img {
  height: 100%;
}
